<!-- centrar el h1 -->
<h1 class="text-3xl font-bold text-center my-4">Formulario de reportes</h1>
<!-- quiero usar solo angular material y tailwind en este html -->
<!-- ocupo hacer un formulario con los datos de reportes  -->

<section class="flex flex-col items-center justify-center">
  <div
    class="form-container flex flex-col items-center justify-between w-full max-w-3xl p-4 bg-white shadow-md rounded-lg border border-gray-300 min-h-[650px] overflow-auto"
  >
    <!-- flex flex-col justify-center space-x-6 -->
    <form class="example-form" [formGroup]="myForm" (ngSubmit)="ngOnInit()">
      <div class="">
        <mat-form-field class="formElement w-full">
          <mat-label>Titulo:</mat-label>
          <input
            matInput
            type="text"
            placeholder="titulo"
            formControlName="titulo"
          />
        </mat-form-field>
      </div>

      <div class="flex items-center gap-4 mb-2">
        <mat-form-field class="formElement">
          <mat-label>Categoría:</mat-label>
          <mat-select formControlName="categoria">
            <mat-option>Seleccione...</mat-option>
            <mat-option value="Alumbrado">Alumbrado</mat-option>
            <mat-option value="Calle dañada">Calle dañada</mat-option>
            <mat-option value="Servicio eléctrico"
              >Servicio eléctrico</mat-option
            >
            <mat-option value="Servicio de agua">Servicio de agua</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Espacio -->

      <div class="flex items-center">
        <mat-form-field class="formElement w-full">
          <mat-label>Descripción:</mat-label>
          <input
            matInput
            type="text"
            placeholder="Descripción"
            formControlName="descripcion"
          />
        </mat-form-field>
      </div>

      <!-- espacio------------------------------------------------------------------------- -->

      <div class="flex items-center">
        <mat-form-field class="formElement w-full">
          <mat-label>Dirección:</mat-label>
          <input
            matInput
            type="text"
            placeholder="Dirección"
            formControlName="direccion"
          />
        </mat-form-field>
      </div>

      <!-- espacio ---------------------------------------------------------------------------->

      <div class="flex items-center justify-center gap-4 mb-4">
        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Font Style"
          formControlName="estado"
        >
          <mat-button-toggle value="pendiente">Pendiente</mat-button-toggle>
          <mat-button-toggle value="en-revision">En revisión</mat-button-toggle>
          <mat-button-toggle value="resuelto">Resuelto</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="flex items-center justify-center gap-4 mb-2">
        <input
          type="text"
          [value]="nombreImagenSeleccionada || ''"
          placeholder="Nombre de la imagen o URL"
          readonly
          class="w-64 bg-gray-100 border border-gray-300 rounded px-3 py-2 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-200 transition"
          formControlName="imagen"
        />
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="abrirDialogoSubirImagen()"
          class="h-10 px-6 text-white font-semibold shadow-md hover:bg-blue-700 transition"
        >
          Subir imagen
        </button>
      </div>

      <!--  -->

      <div>
        <img
          *ngIf="imagenSeleccionada"
          [src]="imagenSeleccionada"
          alt="Vista previa"
          class="mt-4 rounded shadow border border-gray-200 w-full max-h-40 object-cover"
          style="display: block"
        />
      </div>

      <!-- Botones -->

      <div class="botones justify-center flex items-center gap-4 mb-2 mt-4">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onSave()"
        >
          Guardar
        </button>
        <button
          mat-raised-button
          color="primary"
          type="reset"
          (click)="clearForm()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</section>


<div class="p-4">
  <h1 class="text-2xl font-bold text-left my-4 mt-10">Lista de reportes</h1>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 divide-amber-300"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoría</th>
      <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
    </ng-container>

    <!-- fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5,20, 30, 50]"
    showFirstLastButtons
    aria-label="Seleccione el número de filas"
  >
  </mat-paginator>
</div>
