<header>
    <h1><a routerLink="/home" style="color: white; text-decoration: none;">Página de Reclamos </a></h1>
   <a routerLink="/login" style="color: white; text-decoration: none;">Login</a>
  </header>

  <nav>
    <ul>
      <li><a routerLink="/foro">opcion1</a></li>
      <li><a href="#">opcion2</a></li>
      <li><a href="#">opcion3</a></li>
      <li><a href="#">opcion4</a></li>
      <li><a href="#">opcion5</a></li>
      <li><a routerLink="/usuario">Usuario</a></li>
    </ul>
  </nav>


  <footer>
      Proyecto Primer Parcial, 2025
  </footer>

  <router-outlet></router-outlet>