<div class="usuario-page">
    
    <div class="usuario-container"> 
        <h1>Datos Personales

        </h1>
    </div>

    <div class="admin-container">
        <h1>Crud de Usuario</h1>
        <!-- Formulario reactivo vinculado al FormGroup 'form' -->
        
      <div class="form-container">
        <form class="example-form" [formGroup]="form" (submit)="ngOnInit()">

          <!-- Campos de los Usuarios -->

          <mat-form-field class="formElement">
          <mat-label>Nombre:</mat-label>
          <input
            matInput
            type="text"
            placeholder="nombre"
            formControlName="nombre" 
          />
          </mat-form-field>
        
          <mat-form-field class="formElement">
          <mat-label>Apellido</mat-label>
          <input
            matInput
            type="text"
            placeholder="apellido"
            formControlName="apellido" 
          />
          </mat-form-field>

          <mat-form-field class="formElement">
          <mat-label>Cedula:</mat-label>
          <input
            matInput
            type="text"
            placeholder="cedula"
            formControlName="cedula" 
          />
          </mat-form-field>

          <mat-form-field class="formElement">
          <mat-label>Usuario:</mat-label>
          <input
            matInput
            type="text"
            placeholder="usuario"
            formControlName="usuario" 
          />
          </mat-form-field>

          <mat-form-field class="formElement">
            <mat-label>Tipo de Usuario:</mat-label>
            <mat-select formControlName="tipo_usuario">  
              <mat-option>Seleccione...</mat-option>  <!-- Opción por defecto -->
              <mat-option value="ciudadano">Ciudadano</mat-option>
              <mat-option value="funcionario">Funcionario</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="formElement">
            <mat-label>Genero:</mat-label>
            <mat-select formControlName="genero">  
              <mat-option>Seleccione...</mat-option>  <!-- Opción por defecto -->
              <mat-option value="masculino">Masculino</mat-option>
              <mat-option value="femenino">Femenino</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field class="formElement">
          <mat-label>Direccion:</mat-label>
          <input
            matInput
            type="text"
            placeholder="direccion"
            formControlName="direccion" 
          />
          </mat-form-field>

          <mat-form-field class="formElement">
          <mat-label>Contrasenia:</mat-label>
          <input
            matInput
            type="text"
            placeholder="contrasenia"
            formControlName="contrasenia" 
          />
          </mat-form-field>

          <!-- Contenedor de botones de acción -->
          <div class="botones">
            <!-- Botón para guardar (envía el formulario) -->
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
              Guardar
            </button>
            <!-- Botón para cancelar/limpiar el formulario -->
            <!-- <button mat-raised-button color="primary" type="reset" (click)="clearForm()">
              Cancelar
            </button> -->
          </div>
        </form>
      </div>

      <!-- Formulario de búsqueda -->
      <!-- <form class="search">
        <mat-form-field class="example-full-width">
          <mat-label>Buscar:</mat-label>
          <input
            matInput
            type="search"
            placeholder="Nombre o Apellido"
            #searchinput  
            (keyup)="search(searchinput)"  
          />
        </mat-form-field>
    </form> -->
         <table mat-table [dataSource]="dataSource"> 
          <!-- Columna para el nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
          <!-- Columna para el apellido -->
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
          </ng-container>
          <!-- Columna para el cedula -->
          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef>Cedula</th>
            <td mat-cell *matCellDef="let element">{{ element.cedula }}</td>
          </ng-container>
          <!-- Columna para el usuario -->
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
          </ng-container>
          <!-- Columna para el tipodeusuario -->
          <ng-container matColumnDef="tipo_usuario">
            <th mat-header-cell *matHeaderCellDef>Tipo de Usuario</th>
            <td mat-cell *matCellDef="let element">{{ element.tipo_usuario }}</td>
          </ng-container>
          
          <!-- Columna para el genero -->
          <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef>Genero</th>
            <td mat-cell *matCellDef="let element">{{ element.genero }}</td>
          </ng-container>
          <!-- Columna para el direccion -->
          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef>Direccion</th>
            <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
          </ng-container>
          <!-- Columna para el contraseña -->
          <ng-container matColumnDef="contrasenia">
            <th mat-header-cell *matHeaderCellDef>Contrasenia</th>
            <td mat-cell *matCellDef="let element">{{ element.contrasenia }}</td>
          </ng-container>
          <!-- Columna de acciones con botones -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <!-- Botón para editar agregar (click)="editar(element)"--> 
              <button 
              mat-raised-button color="accent"  
              (click)="editar(element)"
              >
                Editar
              </button>
              <!-- Botón para eliminar (click)="eliminar(element)" -->
              <button 
              mat-raised-button color="warn" 
              
              >
                Eliminar
              </button>
            </td>
          </ng-container>

          <!-- Fila de encabezados (usa displayedColumns para definir el orden) -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <!-- Filas de datos -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- Componente paginador -->
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"  
          showFirstLastButtons  
          aria-label="Seleccione el número de filas"  
        >
        </mat-paginator>

    </div>
    
</div>
<br><br><br>